extends ../layout

block head
    script(type='text/javascript' src='/javascripts/lib/mespeak/mespeak.js')
    script(type='text/javascript' src='/javascripts/view_kitchen.js')

block content
    div(class='container-fluid content')
        div(class='row')
            div(class='col-xs-12')
                p #{paramKitchen.title}
                p #{paramKitchen.description}

                if (paramKitchen.resource)
                    h3 resources:
                    ul
                        each resource, i in paramKitchen.resource
                            li(class="resource")
                                p #{resource.title}: #{resource.amount} #{resource.unit} #{resource.comment != '' ? '(' + resource.comment + ')' : ''} #{resource.optional != undefined ? '[optional]' : ''}
                
                if (paramKitchen.ingredient)
                    h3 ingredients:
                    ul
                        each ingredient, i in paramKitchen.ingredient
                            li(class="ingredient")
                                p #{ingredient.title}: #{ingredient.amount} #{ingredient.unit} #{ingredient.comment != '' ? '(' + ingredient.comment + ')' : ''} #{ingredient.optional != undefined ? '[optional]' : ''}
                
        div(class='row')
            div(class='col-xs-12')
                a(href="/editkitchen/" + paramKitchen.title) edit
